.contro-chart-main {
  width: 40%;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contro-chart-main .btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}
.contro-chart-main .btn-group .btn-control img {
  width: 20px;
  height: 20px;
}
.contro-chart-main .btn-group .btn-home img {
  width: 30px;
  height: 30px;
}

.contro-chart-main .btn-group .btn-control {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 1);
  outline: none;
  cursor: pointer;
  margin: 0 10px;
}
.contro-chart-main .btn-group .btn-home {
  width: 40px;
  height: 40px;
}
